@model string

<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="utf-8" />
    <title>Exportált XML</title>
    <style>
        /* Az XML kód formázásához, hogy könnyebben olvasható legyen */
        pre {
            font-family: monospace;
            white-space: pre-wrap; 
            word-wrap: break-word;
            background-color: #f4f4f4;
            padding: 10px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h2>Exportálandó XML tartalom</h2>
        <div class="button-container">
        <a href="@Url.Action("Index", "Minta")" class="btn btn-primary">Vissza az Index oldalra</a>
    </div>
    <!-- Az XML string megjelenítése -->
    <pre>@Model</pre>
        <div class="button-container">
        <a href="@Url.Action("Index", "Minta")" class="btn btn-primary">Vissza az Index oldalra</a>
    </div>
</body>
</html>
