@page
@model IndexModel
<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kezdőlap</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 0;
            background: url('./alapháttér.webp') no-repeat center center fixed;
            background-size: auto 100%;
            background-attachment: fixed;
            color: #333;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 100vh;
            padding: 20px;
        }

        .header, .sidebar, .footer {
            background-color: rgba(211, 211, 211, 0.9);
            border: 2px solid black;
            border-radius: 10px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
            padding: 10px;
            text-align: center;
        }

        .header {
            width: 60%;
            margin-top: 20px;
        }

        .sidebar {
            width: 30%;
            height: auto;
            align-self: flex-start;
        }

        .footer {
            width: 20%;
            margin-bottom: 100px;
        }

            .footer button {
                background-color: #007BFF;
                color: white;
                border: none;
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;
                font-size: 16px;
            }

                .footer button:hover {
                    background-color: #0056b3;
                }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>
                A téma címe: Kisméretű laboratórium vizsgálati eredményeit nyilvántartó adatbázis készítése</p>
                <h1>Konzulens: Dr. Kovács János</h1>
        </div>
        <div class="sidebar">
            <h3>A projekten dolgozó csoport tagjai:</h3>
            <p>Péntek Máté</p>
            <p>Giczi Zsolt</p>
            <p>Kelemen Márk</p>
            <p>Kovács Balázs</p>
        </div>
        <div class="footer">
            <form method="get" asp-page="/LoginPage">
                <button type="submit">Start</button>
            </form>
        </div>
    </div>
</body>
</html>
