<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bejelentkezés</title>
	
</head>
<body>
    <h1>Bejelentkezés</h1>
    <form method="post">
        <label for="username">Felhasználónév:</label>
        <input type="text" id="username" name="username" required />
        <br />
        <label for="password">Jelszó:</label>
        <input type="password" id="password" name="password" required />
        <br />
        <button type="submit">Belépés</button>
    </form>
	
</body>
<style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 0;
            background: url('./alapháttér.webp') no-repeat center center fixed;
            background-size: auto 100%;
			background-attachment: fixed;
            color: #333;
        }
</style>
</html>
