@page
@using project_2.Pages
@model MainPageModel

@{
    ViewData["Title"] = "Main";
}

<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            width: 100%;
            background-image: url('/wwwroot/img/background.webp');
            background-size: cover;
            background-position: center;
            height: 100vh;
            margin: 0;
            overflow-x: hidden;
        }
        .content-container {
            width: 100%;
            margin-top: 80px;
            padding: 20px;
            overflow-y: auto;
            height: calc(100vh - 80px);
        }
        #dynamicContainer {
            width: 100%; 
        .navbar {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
        }
    </style>
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">Web Application</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="mintakDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Minták kezelése
                    </a>
                    <div class="dropdown-menu" aria-labelledby="mintakDropdown">
                        <a class="dropdown-item" href="#" onclick="showPage('minta')">Vízminták kezelése</a>
                        <a class="dropdown-item" href="#" onclick="showPage('importalas')">Vízminták importálása</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="showPage('idosorok')">Idősorok</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Adattáblák
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" onclick="showPage('akkrMintavetel')">Akkr. mintavétel státusza</a>
                        <a class="dropdown-item" href="#" onclick="showPage('humviFelelos')">HUMVI felelősök</a>
                        <a class="dropdown-item" href="#" onclick="showPage('humviModul')">HUMVI modulok</a>
                        <a class="dropdown-item" href="#" onclick="showPage('mertekEgyseg')">Mértékegységek</a>
                        <a class="dropdown-item" href="#" onclick="showPage('mintavevo')">Mintavevők</a>
                        <a class="dropdown-item" href="#" onclick="showPage('mvHely')">Mintavételi helyek</a>
                        <a class="dropdown-item" href="#" onclick="showPage('mvOka')">Mintavétel okai</a>
                        <a class="dropdown-item" href="#" onclick="showPage('mvTipus')">Mintavétel típusa</a>
                        <a class="dropdown-item" href="#" onclick="showPage('parameter')">Paraméterek</a>
                        <a class="dropdown-item" href="#" onclick="showPage('vizsgaloLabor')">Vizsgálólaborok</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Térkép
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" onclick="showPage('ivoviz')">Ivóvíz mintavételi pontok</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Jogszabályok
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://njt.hu/jogszabaly/2016-16-20-0A" target="_blank">16/2016. (V. 12.) BM rendelet</a>
                        <a class="dropdown-item" href="https://njt.hu/jogszabaly/2023-5-20-22" target="_blank">5/2023. (I. 12.) Korm. rendelet</a>
                        <a class="dropdown-item" href="https://njt.hu/jogszabaly/2015-124-00-00" target="_blank">2015. évi CXXIV. törvény</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://nah.gov.hu/hu/" target="_blank">Nemzeti Akkreditáló Hatóság</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Dynamic content container -->
    <div id="dynamicContainer" class="content-container container-fluid">
        <h3>Üdvözöljük a webalkalmazásban!</h3>
        <p>Kattintson a fenti menüelemekre a tartalom megtekintéséhez.</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function showPage(pageId, additionalId = null) {
            const container = document.getElementById('dynamicContainer');

            // Alapértelmezett tartalom törlése
            container.innerHTML = '';

            // Dinamikus tartalom betöltése
            switch (pageId) {
                case 'ivoviz':
                    container.innerHTML = `
                        <h3>Ivóvíz mintavételi pontok</h3>
                        <iframe src="https://www.google.com/maps/d/embed?mid=1gD1S9UeSE7R5SlHLbLYXmrl3VR9BVA8&ehbc=2E312F" width="640" height="480"></iframe>
                    `;
                    break;
                //AkkrMintavetel tábla
                case 'akkrMintavetel':
                    $("#dynamicContainer").load("/AkkrMintavetel/LoadIndexPartial");
                    break;
                case 'showAkkrMintavetelDetails':
                    if (additionalId) {
                        $("#dynamicContainer").load("/AkkrMintavetel/LoadDetailsPartial?id=" + additionalId);
                    }
                    break;
                case 'showAkkrMintavetelEdit':
                    if (additionalId) {
                        $("#dynamicContainer").load("/AkkrMintavetel/LoadEditPartial?id=" + additionalId);
                    }
                    break;
                case 'showAkkrMintavetelDelete':
                    if (additionalId) {
                        $("#dynamicContainer").load("/AkkrMintavetel/LoadDeletePartial?id=" + additionalId);
                    }
                    break;
                case 'createAkkrMintavetel':
                    $("#dynamicContainer").load("/AkkrMintavetel/LoadCreatePartial");
                    break;
                //HUMVIfelelos tábla
                case 'humviFelelos':
                    $("#dynamicContainer").load("/HUMVIfelelos/LoadIndexPartial");
                    break;
                case 'showHumviFelelosDetails':
                    if (additionalId) {
                        $("#dynamicContainer").load("/HUMVIfelelos/LoadDetailsPartial?id=" + additionalId);
                    }
                    break;
                case 'showHumviFelelosEdit':
                    if (additionalId) {
                        $("#dynamicContainer").load("/HUMVIfelelos/LoadEditPartial?id=" + additionalId);
                    }
                    break;
                case 'showHumviFelelosDelete':
                    if (additionalId) {
                        $("#dynamicContainer").load("/HUMVIfelelos/LoadDeletePartial?id=" + additionalId);
                    }
                    break;
                case 'createHumviFelelos':
                    $("#dynamicContainer").load("/HUMVIfelelos/LoadCreatePartial");
                    break;
                //HUMVImodul tábla
                case 'humviModul':
                    $("#dynamicContainer").load("/HUMVImodul/LoadIndexPartial");
                    break;
                case 'showHumviModulDetails':
                    if (additionalId) {
                        $("#dynamicContainer").load("/HUMVImodul/LoadDetailsPartial?id=" + additionalId);
                    }
                    break;
                case 'showHumviModulEdit':
                    if (additionalId) {
                        $("#dynamicContainer").load("/HUMVImodul/LoadEditPartial?id=" + additionalId);
                    }
                    break;
                case 'showHumviModulDelete':
                    if (additionalId) {
                        $("#dynamicContainer").load("/HUMVImodul/LoadDeletePartial?id=" + additionalId);
                    }
                    break;
                case 'createHumviModul':
                    $("#dynamicContainer").load("/HUMVImodul/LoadCreatePartial");
                    break;
                //Minta tábla
                case 'minta':
                    $("#dynamicContainer").load("/Minta/LoadIndexPartial");
                    break;
                case 'showMintaDetails':
                    if (additionalId) {
                        $("#dynamicContainer").load("/Minta/LoadDetailsPartial?id=" + additionalId);
                    }
                    break;
                case 'showMintaEdit':
                    if (additionalId) {
                        $("#dynamicContainer").load("/Minta/LoadEditPartial?id=" + additionalId);
                    }
                    break;
                case 'showMintaDelete':
                    if (additionalId) {
                        $("#dynamicContainer").load("/Minta/LoadDeletePartial?id=" + additionalId);
                    }
                    break;
                case 'createMinta':
                    $("#dynamicContainer").load("/Minta/LoadCreatePartial");
                    break;
                default:
                    container.innerHTML = '<p>A kért tartalom nem található.</p>';
                    break;
            }
        }

        $(document).on('submit', '#editForm', function (event) {
            event.preventDefault(); // Megakadályozzuk az alapértelmezett űrlap küldést

            var form = $(this);
            $.ajax({
                url: form.attr('action'),
                type: 'POST',
                data: form.serialize(),
                success: function (response) {
                    if (response.success && response.tableName) {
                        switch (response.tableName) {
                            case "AkkrMintavetel":
                                showPage("akkrMintavetel");
                                break;
                            case "HumviFelelos":
                                showPage("humviFelelos");
                                break;
                            case "HumviModul":
                                showPage("humviModul");
                                break;



                            case "Minta":
                                showPage("minta");
                                break;
                            default:
                                alert("Ismeretlen tábla: " + response.tableName);
                        }
                    } else {
                        alert('A válasz nem tartalmazta a szükséges adatokat.');
                    }
                },
                error: function () {
                    alert('Hiba történt a mentés során!');
                }
            });
        });


        $(document).on('submit', '#createForm', function (event) {
            event.preventDefault(); // Megakadályozzuk az alapértelmezett űrlap küldést

            var form = $(this);
            $.ajax({
                url: form.attr('action'),
                type: 'POST',
                data: form.serialize(),
                success: function (response) {
                    if (response.success && response.tableName) {
                        switch (response.tableName) {
                            case "AkkrMintavetel":
                                showPage("akkrMintavetel");
                                break;
                            case "HumviFelelos":
                                showPage("humviFelelos");
                                break;
                            case "HumviModul":
                                showPage("humviModul");
                                break;



                            case "Minta":
                                showPage("minta");
                                break;
                            default:
                                alert("Ismeretlen tábla: " + response.tableName);
                        }
                    } else {
                        alert('A válasz nem tartalmazta a szükséges adatokat.');
                    }
                },
                error: function () {
                    alert('Hiba történt a mentés során!');
                }
            });
        });

        $(document).on('submit', '#deleteForm', function (event) {
            event.preventDefault(); // Megakadályozzuk az alapértelmezett form submit eseményt

            var form = $(this); // A form objektum
            $.ajax({
                url: form.attr('action'), // A form action-ját küldjük el (törlés URL)
                type: 'POST', // POST kérést küldünk
                data: form.serialize(), // A form adatainak (például ID) küldése
                success: function (response) {
                    if (response.success && response.tableName) {
                        switch (response.tableName) {
                            case "AkkrMintavetel":
                                showPage("akkrMintavetel");
                                break;
                            case "HumviFelelos":
                                showPage("humviFelelos");
                                break;
                            case "HumviModul":
                                showPage("humviModul");
                                break;




                            case "Minta":
                                showPage("minta");
                                break;
                            default:
                                alert("Ismeretlen tábla: " + response.tableName);
                        }
                    } else {
                        alert('A válasz nem tartalmazta a szükséges adatokat.');
                    }
                },
                error: function () {
                    alert('Hiba történt a törlés során!');
                }
            });
        });

    </script>
</body>
</html>
