@page
@{
    ViewData["Title"] = "Map";
}

<style>
    #iframecontainer {
        width: 100%;
        height: 80vh;
    }
</style>

<h3>Ivóvíz mintavételi pontok</h3>
<iframe id="iframecontainer" src="https://www.google.com/maps/d/embed?mid=1gD1S9UeSE7R5SlHLbLYXmrl3VR9BVA8&ehbc=2E312F"></iframe>